<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div><h1>User Attributes</h1>
   <p>Please select the options that apply to you</p>
   
   <div class="field_group">
      <%= f.label "Renter or Roomie?", class: 'control-label' %>
      <div class="field">
    <%= f.select(:user_smoke, options_for_select([['RENTER','RENTER'],['ROOMIE','ROOMIE']])) %>
  </div>
  
   <div class="field_group">
      <%= f.label "Do you smoke?", class: 'control-label' %>
      <div class="field">
    <%= f.select(:user_smoke, options_for_select([['YES','YES'],['NO','NO']])) %>
  </div>
  
   <div class="field_group">
      <%= f.label "Do you have pets", class: 'control-label' %>
      <div class="field">
    <%= f.select(:user_pets, options_for_select([['YES','YES'],['NO','NO']])) %>
  </div>
  
  
   <div class="field_group">
      <%= f.label "Weekday Routine", class: 'control-label' %>
      <div class="field">
    <%= f.select(:user_weekday_routine, options_for_select([['9-5 MON-FRI','9-5 MON-FRI'],['Nightshifts','Nightshifts'],['Other','Other']])) %>
  </div>
  
 <div class="field_group">
      <%= f.label "Cleanliness", class: 'control-label' %>
      <div class="field">
    <%= f.select(:user_cleanliness, options_for_select([['Extremely Clean','Extremely Clean'],['Fairly Clean','Fairly Clean'],['Cleaning isnt my priority','Cleaning isnt my priority']])) %>
  </div>
  
  <div class="field_group">
      <%= f.label "Budget", class: 'control-label' %>
      <div class="text_field">
        <%= f.text_field(:budget)%>
        </div>
  
  <div class="field_group">
      <%= f.label "Please describe your living habits, personality, hobbies etc. Min 30 words", class: 'control-label' %>
      <div class="text_area">
        <%= f.text_area(:about)%>
  </div>
  

  
  <div><h1>Account Details</h1></div>

  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_field :birthday, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>



  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
