<h1><%= full_name %>  <strong>"<%= @user.user_name.capitalize %>"</strong></h1>




   <table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Pets</th>
      <th>Cleanliness</th>
      <th>Smoker?</th>
      <th colspan="3"></th>
    </tr>
  </thead> 
    <tbody>
<tr>
        <td><%= @user.user_name %></td>
        <td><%= @user.user_pets %></td>
        <td><%= @user.user_cleanliness %></td>
        <td><%= @user.user_smoke %></td>
        </tr>
        </tbody>
        
    <table>
        <thead>
            <tr>
                <td><strong><%= @user.user_name.capitalize %>'s Rooms</strong></td>
                </tr>
            </thead>
            <tbody>
        <% @user_posts.each do |post| %>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= link_to image_tag post.image.url, target: '_blank' %></td>
            </tbody>
<% end %> 
