<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=325771567809411";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>



<table class="table table-hover">
<thead>
    
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <th scope="row"><li><%=link_to image_tag post.user.image, :size => '100x100' %></th>
        <td><strong>Listing:</strong></br><%= post.title %></td>
        <td><strong>Address:</strong></br><%= post.address %></td>
        <td><strong>Price: </strong></br><%= post.price %></td>
        <td><strong>Last Updated: </strong></br><%= post.updated_at.to_date %></td>
        <td><strong>Renter Profile: </strong></br><%= link_to post.user.user_name, user_path(post.user) %></td>
        <td><%= link_to image_tag post.image.url, :size => '150x150' %></td>
        <td><%= link_to 'View Room', post, class: "btn btn-large btn-primary" %></td>
        <td><div class="fb-like" data-href="https://room-room-chuckstopher.c9users.io/posts/17" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></td>
       
        <% if post.user == current_user %>
        <td><%= link_to 'Edit your Ad', edit_post_path(post) %></td>
        <td><%= link_to 'Remove your Ad', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>
      </tr>
  </tbody>
</table>
